{% extends "base.html" %}
{% block title %}Bokeh Visualization{% endblock %}
{% block body %}
    <head>
        <meta charset="utf-8">
        <style>
            /* CSS goes here. */
            .subunit {
                fill: none;
                stroke: #FFF;
                stroke-width: 1px;
            }
            text.subunit-label {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-anchor: middle;
                fill: #000;
            }
            .subunit-label {
                display: none;
            }
            .graticule {
                fill: none;
                stroke: #aaa;
                stroke-opacity: .5;
                stroke-width: .5px;
            }

            .background {
            fill: none;
            pointer-events: all; 
            }

            .feature {
            fill: #ccc;
            cursor: pointer;
            }

            .feature.active {
            fill: orange;
            }

            .mesh {
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
            }

            .rect {
                border-radius: 3px;
            }







            #container {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.slider{
    width: 800px;
}



/* CSS for tabs */
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  background-color: white;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


        </style>
    </head>
    <body>

        <script src="//d3js.org/topojson.v1.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>   
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>   
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        


        <div>
      
            <span>

                <div id="map-holder"></div>
                <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

                <!-- Create a div where the graph will take place -->
                <div id="my_dataviz"></div>
                <input id="slider" class = "slider" type="range" min="2000" max="2002" value="2000" step="1" onchange="updateSlider(this.value)" />

                <span id="range">2000</span>
        
                <button name="play" id="play">Play</button>
            </span>

            <hr></hr>
            <div class="container"><h2>Charts:</h2></div>

            <div id="exTab2" class="container">	
                <ul class="nav nav-tabs">
			        <li class="active">
                        <a  href="#1" data-toggle="tab">Device trends  </a>
			        </li>
			        <li>
                        <a href="#2" data-toggle="tab">Tag trends  </a>
			        </li>
			        <li>
                        <a href="#3" data-toggle="tab">Others  </a>
			        </li>
		        </ul>

			    <div class="tab-content ">
			        <div class="tab-pane active" id="1">
                        <figure class="highcharts-figure">
                            <div id="donut1"></div>
                        </figure>
				    </div>
				    <div class="tab-pane" id="2">
                        <figure class="highcharts-figure">
                            <div id="pie1"></div>
                        </figure>
				    </div>
                    <div class="tab-pane" id="3">
                        <h3>add clearfix to tab-content (see the css)</h3>
				    </div>
			    </div>
            </div>
        </div>


        <script>

            /* JavaScript goes here. */
            // globals used in graph
            var running = false;
            var timer;

            var mapdata = {};

            var width = 800, height = 600;
            active = d3.select(null);
            var zoom = d3.zoom()            
            // no longer in d3 v4 - zoom initialises with zoomIdentity, so it's already at origin
            // .translate([0, 0]) 
            // .scale(1) 
            .scaleExtent([1, 8])
            .on("zoom", zoomed);
            var minDocCount = 0, quantiles = {};
            // projection definitions
            var projection = d3.geoMercator()
                .scale((width + 1) / 2 / Math.PI)
                .translate([width/2, height/2])
                .precision(.1);
            var path = d3.geoPath().projection(projection);
            // SVG related definitions
            var svg = d3.select("#map-holder").append("svg")
                        .attr("height", height)    // set the height
                        .attr("width", width);    // set the width
            
            svg.append("rect")
                .attr("class", "background")
                .attr("width", width)
                .attr("height", height)
                .on("click", reset);
            var g = svg.append("g");

            svg
                .call(zoom); // delete this line to disable free zooming
            var filter = svg.append('defs')
                .append('filter')
                .attr("height", 1)    // set the height
                .attr("width", 1)    // set the width
                .attr("x", 0)    
                .attr("y", 0)    
                .attr("id", 'gray-background')
            filter.append('feFlood')
                .attr('flood-color', '#f2f2f2')
                .attr('result', 'COLOR');
            filter.append('feMorphology')
                .attr('operator', 'dilate')
                .attr('radius', '.9')
                .attr('in', 'SourceAlpha')
                .attr('result', 'MORPHED');
            filter.append('feComposite')
                .attr('in', 'SourceGraphic')
                .attr('in2', 'MORPHED')
                .attr('result', 'COMP1');
            filter.append('feComposite')
                .attr('in', 'COMP1')
                .attr('in2', 'COLOR');


            /// getting json input from flask
            var countries_mock_data = {{countries_mock_data| tojson}}
            var world_countries = {{ world_countries | tojson}};
            /*
            /// ALL data from csv
            var csv_data_all = {{ csv_data | tojson}};

            /// Object for filtering
            var filterObjectMap = 
            {
                "date":"2008_11"
            }

            console.log(csv_data_all)
            filtered_data = _.filter(csv_data_all, filterObjectMap)
            console.log("filtered")
            console.log(filtered_data)
            */
            var myColor = d3.scaleOrdinal().domain(countries_mock_data.allTags)
                .range(d3.schemeSet3);

            //console.log(countries_mock_data)
            current_date = "2007_12"
            current_year_data = countries_mock_data.timesteps[current_date]
            //console.log(current_year_data)

            draw(world_countries ,current_year_data)

            function get_most_popular(obj){
                maxTag = -10000
                tag = ""
                for(ind in Object.keys(obj)){
                    key = Object.keys(obj)[ind]
                    if(obj[key]>maxTag){
                        maxTag = obj[key]
                        tag = key
                    }
                }
                return tag
            }

            function draw(world, data) {

                    for(var idx=0; idx < data.country_data.buckets.length; idx++) {
                        var cCode = data.country_data.buckets[idx].key.toUpperCase();
                        var most_popular_tag = get_most_popular(data.country_data.buckets[idx].most_popular_5);
                        var most_popular_taglist = data.country_data.buckets[idx].most_popular_5;
                        var user_freq = data.country_data.buckets[idx].user_freq;
                        var device_data = data.country_data.buckets[idx].device_data;
                        for(var wdx=0; wdx < world.objects.subunits.geometries.length; wdx++) {
                            var cName = world.objects.subunits.geometries[wdx].id.toUpperCase();
                            if (cCode === cName) {
                                //TODO is it really necessary to take the data for charts from the map data?? 
                                // can also get it from an external json file using the country id... 
                                world.objects.subunits.geometries[wdx].properties.most_popular_tag = most_popular_tag;
                                world.objects.subunits.geometries[wdx].properties.most_popular_5 = most_popular_taglist;
                                world.objects.subunits.geometries[wdx].properties.user_freq = user_freq;
                                world.objects.subunits.geometries[wdx].properties.device_data = device_data;
                            }
                        }
                    }
                    var subunits = topojson.feature(world, world.objects.subunits);
                    subunits.features = subunits.features.filter(function(d){ return d.id !== "ATA"; });
                    minDocCount = d3.min(subunits.features, function(d){ return d.properties.most_popular_tag; });
                    var most_popular_tag = subunits.features.map(function(d){ return d.properties.most_popular_tag; });
                    most_popular_tag = most_popular_tag.filter(function(d){ return d; }).sort(d3.ascending);
                    //console.log('most_popular_tag',most_popular_tag);
                    quantiles['0.95'] = d3.quantile(most_popular_tag, '0.95');
                    var countries = g.selectAll('path.subunit')
                        .data(subunits.features).enter();

                    countries.insert('path', '.graticule')
                        .attr('class', function(d) { return 'subunit ca'+d.id; })
                        .attr('d', path)
                        .on('mouseover',mouseoverLegend).on('mouseout',mouseoutLegend)
                        .on("click", clicked);
                    
                    countries.append('svg:text')
                        .attr('class', function(d){ return 'subunit-label la'+d.id+d.properties.name.replace(/[ \.#']+/g,''); })
                        //.attr('transform', function(d) { return 'translate('+ path.centroid(d) +')'; })
                        .attr('transform', function(d) { return 'translate('+(width-(5*d.properties.name.length))+','+(15)+')'; })
                        .attr('dy', '.35em')
                        .attr('filter', 'url(#gray-background)')
                        .append('svg:tspan')
                        .attr('x', 0)
                        .attr('dy', 0)
                        .text(function(d) { return d.properties.name; })
                        .append('svg:tspan')
                        .attr('x', 0)
                        .attr('dy', 20)
                        .text(function(d) { return d.properties.most_popular_tag ? d.properties.most_popular_tag : ''; });
                    
                    var toColor = g.selectAll(".subunit")

                    toColor            
                    .transition()
                    .duration(750)
                    .style("fill", heatColor)


                    var upDatedData = {};
                        upDatedData.properties = {};
                        upDatedData.properties.device_data = {};
                        upDatedData.properties.most_popular_5 = {};
                        //TODO Have to change this logic, how to find out the key when sliding inside the countries..
                        // For now only world changes..
                        upDatedData.properties.device_data = data.country_data.buckets[0].device_data;
                        upDatedData.properties.most_popular_5 = data.country_data.buckets[0].most_popular_5;
                        refreshDonut1(upDatedData);
                        refreshPie1(upDatedData);
                    
             
            }

            function mouseoverLegend(datum, index) {
                graphXAxis = [];
                graphYAxis = [];
                var point = d3.mouse(this)
                d3.selectAll('.subunit-label.la'+datum.id+datum.properties.name.replace(/[ \.#']+/g,''))
                    .style('display', 'inline-block')
              
                d3.selectAll('.subunit.ca'+datum.id)
                    .style('fill', '#cc6699');
                


            } 

            function mouseoutLegend(datum, index) {
                d3.selectAll('.subunit-label.la'+datum.id+datum.properties.name.replace(/[ \.#']+/g,''))
                    .style('display', 'none');
                d3.selectAll('.subunit.ca'+datum.id)
                    .style('fill', heatColor(datum));
            }


            function heatColor(d) {
                return myColor(d.properties.most_popular_tag);
            }
            /////////////////////////////////////////////////////// Zooming functions //////////////////////////////////////////////////////
            function clicked(d) {
                if (active.node() === this) return reset();
                active.classed("active", false);
                active = d3.select(this).classed("active", true);

                var bounds = path.bounds(d),
                    dx = bounds[1][0] - bounds[0][0],
                    dy = bounds[1][1] - bounds[0][1],
                    x = (bounds[0][0] + bounds[1][0]) / 2,
                    y = (bounds[0][1] + bounds[1][1]) / 2,
                    scale = Math.max(1, Math.min(8, 0.9 / Math.max(dx / width, dy / height))),
                    translate = [width / 2 - scale * x, height / 2 - scale * y];
                svg.transition()
                    .duration(2000)
                    // .call(zoom.translate(translate).scale(scale).event); // not in d3 v4
                    .call( zoom.transform, d3.zoomIdentity.translate(translate[0],translate[1]).scale(scale) ); // updated for d3 v4
                
                refreshDonut1(d);
                refreshPie1(d);
                refreshStreamGraph(d.id)
                

            }

            function reset() {
                active.classed("active", false);
                active = d3.select(null);

                svg.transition()
                    .duration(750)
                    // .call( zoom.transform, d3.zoomIdentity.translate(0, 0).scale(1) ); // not in d3 v4
                    .call( zoom.transform, d3.zoomIdentity ); // updated for d3 v4
                refreshStreamGraph("USA")
                //TODO have to add reset functionality for pie and donut..

            }

            function zoomed() {
                g.style("stroke-width", 1.5 / d3.event.transform.k + "px");
                // g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")"); // not in d3 v4
                g.attr("transform", d3.event.transform); // updated for d3 v4
            }

            // If the drag behavior prevents the default click,
            // also stop propagation so we don’t click-to-zoom.
            function stopped() {
                if (d3.event.defaultPrevented) d3.event.stopPropagation();
            }

            ///////////////////////////////////////////////// Play button functions /////////////////////////////////////////////////////////////////////
            // heat point test

            // add circles to svg
            /*
            g.selectAll("circle")
                .data(testpoints).enter()
                .append("circle")
                .attr("cx", function (d) { console.log(projection(d)); return projection(d)[0]; })
                .attr("cy", function (d) { return projection(d)[1]; })
                .attr("r", "5px")
                .attr("fill", "grey")
                .attr("fill-opacity","0.2")
            */
            function updateSlider(event){
                current_year_data = countries_mock_data.timesteps[event]
                current_date = event
                draw(world_countries,current_year_data);
                updateStreamSlider()
                $('#range').html(event);
            }
            
            
            $("#play").on("click", function() {
		
            var duration = 800,
                maxstep = 2002,
                minstep = 2000;
            
            if (running == true) {
            
                $("#play").html("Play");
                running = false;
                clearInterval(timer);
                
            } 
 
            else if (running == false) {
            
                $("#play").html("Pause");
                
                sliderValue = $("#slider").val();
                
                timer = setInterval( function(){
                        if (sliderValue < maxstep){
                            sliderValue++;
                            $("#slider").val(sliderValue);
                            $('#range').html(sliderValue);
                        }
                        $("#slider").val(sliderValue);
                        current_year_data = countries_mock_data.timesteps[sliderValue]
                        current_date = sliderValue
                        draw(world_countries,current_year_data);
                        updateStreamSlider()
                    
                }, duration);
                running = true;
                
                
            }

        });
        ////////////////////////////////// StreamGraph ///////////////////////////////////////////////////////////////////////////////////////////////////
            var allTagsEmpyty = {

            }
            for(tagInd in countries_mock_data.allTags){
                allTagsEmpyty[countries_mock_data.allTags[tagInd]] = 0
            }

            function getStreamData(country_key){
                var timeSteps = Object.keys(countries_mock_data.timesteps)
                d = []
                for(var timeStepInd in timeSteps){
                    var timeStep = timeSteps[timeStepInd]
                    var country_bucket = countries_mock_data.timesteps[timeStep].country_data.buckets.find( function (e){
                        return e.key == country_key
                    })
                    try{
                        //var tags = Object.assign({}, country_bucket.most_popular_5, country_bucket.rest_tags)
                        var tags = country_bucket.most_popular_5
                        tag_list = Object.keys(tags)

                        //year_data = {"date":timeStep}
                        var year_data = {
                            timeStep : timeStep,
                            values :allTagsEmpyty}
                        for(var tagInd in tag_list){
                            tag = tag_list[tagInd]
                            year_data.values[tag] = tags[tag]
                
                        }
                     
                        d.push(year_data)
                    }catch(err){
                        continue
                    }
          

                }
                return d
            }

    var margin = {top: 20, right: 0, bottom: 0, left: 0},
    width_stream = 800
    height_stream = 100
    var svg_stream = d3.select("#my_dataviz")
    .append("svg")
        .attr("width", width_stream + margin.left + margin.right)
        .attr("height", height_stream + margin.top + margin.bottom)
    .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleOrdinal()
    var y = d3.scaleLinear()
    var rectAdd = 10
    var rectWidth = 100
    var rectHeight = height_stream + 2*rectAdd


    let drag = d3.drag()
        .on('drag', dragged)

    drawStreamGraph("USA")
    updateStreamSlider()



    function dragged(d) {
        current_date = Math.round(x.invert(d3.mouse(this)[0]))
        updateStreamSlider()
    }
    function drawStreamGraph(country_key){
// append the svg object to the body of the page

        //svg_stream.selectAll("path").remove()


        // Parse the Data
        data = getStreamData(country_key)

        var keys = Object.keys(data[0].values)

        // Add X axis
        x
            .domain(Object.keys(countries_mock_data.timesteps))
            .range([ 0, width_stream ]);
        svg_stream.append("g")
            .attr("transform", "translate(0," + height_stream*0.8 + ")")
            .call(d3.axisBottom(x).tickSize(-height_stream*.7).tickValues([1900, 1925, 1975, 2000]))
            .select(".domain").remove()
        // Customization
        svg_stream.selectAll(".tick line").attr("stroke", "#b8b8b8")

        // Add X axis label:
        svg_stream.append("text")
            .attr("text-anchor", "end")
            .attr("x", width_stream)
            .attr("y", height_stream-30 )
            .text("Time (date)");

        // Add Y axis
        var maxRange = 2000
        y
            .domain([-maxRange, maxRange])
            .range([ height_stream, 0 ]);

        var loggedValAcc = 0

        function valueAccessor(d, key) {
            if(!loggedValAcc){
                console.log(d)
                console.log(key)
                console.log(d.values[key])
                loggedValAcc = true
            }
            return d.values[key];
        }
        //stack the data?
        var stacker = d3.stack()
            .offset(d3.stackOffsetSilhouette)
            .keys(keys)
            .value(valueAccessor)


        var stackedData = stacker(data)

        // create a tooltip
        var Tooltip = svg_stream
            .append("text")
            .attr("x", 0)
            .attr("y", 0)
            .style("opacity", 0)
            .style("font-size", 17)

        // Three function that change the tooltip when user hover / move / leave a cell
        var mouseover = function(d) {
            Tooltip.style("opacity", 1)
            d3.selectAll(".myArea").style("opacity", .2)
            d3.select(this)
            .style("stroke", "black")
            .style("opacity", 1)
            //console.log(d)
        }
        var mousemove = function(d,i) {
            grp = keys[i]
            Tooltip.text(grp)
 
        }
        var mouseleave = function(d) {
            Tooltip.style("opacity", 0)
            d3.selectAll(".myArea").style("opacity", 1).style("stroke", "none")
        }

        var clickedStream = function(d){
            current_date = Math.round(x.invert(d3.mouse(this)[0]))
            updateStreamSlider()
        }
        var logged = false
        // Area generator
        var area = d3.area()
            .x(function(d) { if(!logged){console.log("data point date is");console.log(d); logged = true}return x(d.data.timeStep); })
            .y0(function(d) { return y(d[0]); })
            .y1(function(d) { return y(d[1]); })
        

        // Show the areas
        svg_stream
            .selectAll("mylayers")
            .data(stackedData)
            .enter()

            .append("path")
            .attr("class", "myArea")
            .style("fill", function(d) { return myColor(d.key); })
            .attr("d", area)
            .on("mouseover", mouseover)
            .on("mousemove", mousemove)
            .on("mouseleave", mouseleave)
            .on("click", clickedStream);


    }

    function refreshStreamGraph(country_key){

        // Parse the Data
        data = getStreamData(country_key)

        // List of groups = header of the csv files
        var keys = Object.keys(data[0].values)
        
        var loggedData = false

        function valueAccessor(d, key) {
            return d.values[key];
        }
        //stack the data?
        var stacker = d3.stack()
            .offset(d3.stackOffsetSilhouette)
            .keys(keys)
            .value(valueAccessor)
        

        var stackedData = stacker(data)

        // Area generator
        var area = d3.area()
            .x(function(d) { return x(d.data.date); })
            .y0(function(d) { return y(d[0]); })
            .y1(function(d) { return y(d[1]); })

        svg_stream.selectAll("path")
            .data(stackedData)
            .transition()
            .duration(750)
            .style("fill", function(d, i) { return myColor(d.key); })
            .attr("d", area)
            .on("mouseover", mouseover)
            .on("mousemove", mousemove)
            .on("mouseleave", mouseleave)
            .on("click", clickedStream);

    }




    function updateStreamSlider(){
        console.log("curretn date in range")
        console.log(x(current_date))
        svg_stream.selectAll("#line-comparison").remove()
        svg_stream.selectAll("#rect-grab").remove()
        svg_stream
            .append("line")
            .attr('id', "line-comparison")
            .attr('stroke', 'black')
            .attr('stroke-width', 2)
            .attr('x1', x(current_date))
            .attr('y1', 0)
            .attr('x2', x(current_date))
            .attr('y2', height_stream)
            .call(drag);
        svg_stream
            .append("rect")
            .attr('id', "rect-grab")
            .style("fill", "black")
            .attr("rx", 3)
            .attr("ry", 3)            
            .attr("width", rectWidth)
            .attr("height", rectHeight)
            .attr("x", x(current_date) - (rectWidth / 2))
            .attr("y", 0 - rectHeight)
            .call(drag);
            
      
            
    }




    //Donut chart 1 ...

function convertToDonut1(datum) {
 var fdata = {};
 var categories = [];
 var data = [];
 var device_data = datum.properties.device_data;
 for (var key in device_data) {
 	categories.push(key);
 }
 var colors = Highcharts.getOptions().colors;

  var typeData = [];
  var deviceData = [];
  var i;
  var j;
  var dataLen = categories.length;
  var drillDataLen;
  var brightness;
 for (i = 0; i < dataLen; i += 1) {

    // add type data
    typeData.push({
        name: categories[i],
        y: device_data[categories[i]].total,  //data[i].y,
        color: colors[i] //data[i].color
    });

    // add device data 
    drillDataLen = device_data[categories[i]].length - 1 //data[i].drilldown.data.length;
    if (categories[i] == "others") {
    	drillDataLen += 1;
    }
    for (var keys2 in device_data[categories[i]]) {
    	if (keys2 != 'total' || categories[i] == "others"){
      	        brightness = 0.2 - (j / drillDataLen) / 5;
        deviceData.push({
            name: keys2, //device_data[categories[i]][j],
            y: device_data[categories[i]][keys2], //data[i].drilldown.data[j],
            color: Highcharts.color(colors[i]).brighten(brightness).get()
        });
      }
    }
}
var retData = {};
retData.typeData = typeData;
retData.deviceData = deviceData;
return retData;
}


function refreshDonut1(dat){

    console.log(dat);
var donut1data = convertToDonut1(dat);
console.log(donut1data);


// Create the chart
Highcharts.chart('donut1', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Device usage trend'
    },
    subtitle: {
        text: 'Source: Flickr dataset'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        pie: {
            shadow: false,
            center: ['50%', '50%']
        }
    },
    tooltip: {
        valueSuffix: '%'
    },
    series: [{
        name: 'Device',
        data: donut1data.typeData,
        size: '60%',
        dataLabels: {
            formatter: function () {
                return this.y > 5 ? this.point.name : null;
            },
            color: '#ffffff',
            distance: -30
        }
    }, {
        name: 'Models',
        data: donut1data.deviceData,
        size: '80%',
        innerSize: '60%',
        dataLabels: {
            formatter: function () {
                // display only if larger than 1
                return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
                    this.y + '' : null;
            }
        },
        id: 'versions'
    }],
    responsive: {
        rules: [{
            condition: {
                maxWidth: 400
            },
            chartOptions: {
                series: [{
                }, {
                    id: 'versions',
                    dataLabels: {
                        enabled: false
                    }
                }]
            }
        }]
    }
});


}

function refreshPie1(dat) {
    var newDat = [];
    var colors = [];
var chkData = dat.properties.most_popular_5;
for (var key in chkData) {
	var obj = {};
  obj.name = key;
  obj.y = chkData[key];
  newDat.push(obj);
  colors.push(myColor(key));
}

Highcharts.chart('pie1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Top 5 tag trends'
    },
    credits: {
        enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Flickr Tags',
        colorByPoint: true,
        colors: colors,
        data: newDat
    }]
});
}

    </script>

        
    </body>
{% endblock %}
