{% extends "base.html" %}
{% block title %}Bokeh Visualization{% endblock %}
{% block body %}
    <head>
        <meta charset="utf-8">
        <style>
            /* CSS goes here. */
            .subunit {
                fill: none;
                stroke: #FFF;
                stroke-width: 1px;
            }
            text.subunit-label {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-anchor: middle;
                fill: #000;
            }
            .subunit-label {
                display: none;
            }
            .graticule {
                fill: none;
                stroke: #aaa;
                stroke-opacity: .5;
                stroke-width: .5px;
            }

            .background {
            fill: none;
            pointer-events: all; 
            }

            .feature {
            fill: #ccc;
            cursor: pointer;
            }

            .feature.active {
            fill: orange;
            }

            .mesh {
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
            }

            .rect {
                border-radius: 3px;
            }







            #container {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.slider{
    width: 800px;
}



/* CSS for tabs */
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  background-color: white;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


  
.d3-tip
{
	line-height: 1;
	font-weight: bold;
    width: fit-content;
    height: fit-content;
	padding: 12px;
	background: rgba(255, 255, 255, 0.616);
    color: black;
	border-radius: 2px;
}

.d3-tip:after
{
	box-sizing: border-box;
    width: fit-content;
    height: fit-content;
	font-size: 5px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.116);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after
{
	margin: -1px 0 0 0;
    width: fit-content;
    height: fit-content;
	top: 100%;
	left: 0;
}


#button {
  background: #ccc;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 5px 5px;
}

#button.down {
  background: #bbb;
  border-top: solid 2px #777;
  border-left: solid 2px #777;
  border-bottom: solid 2px #eaeaea;
  border-right: solid 2px #eaeaea;
}


        </style>
    </head>
    <body>

        <script src="//d3js.org/topojson.v1.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>   
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>   
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

        


        <div>
      
            <span>

                <div id="map-holder"></div>
                <div id="tooltip-holder"></div>
                <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

                <!-- Create a div where the graph will take place -->
                <div id = "playaxis" style="display: flex; flex-direction: row;">
                    <button name="play" id="play" style="height: 30px;">Play</button>
                    <div id="my_dataviz"></div>
                </div>
        
            </span>

            <hr></hr>
            <a id="button" title="button">Device Categories</a>
            <div class="container"><h2>Charts:</h2></div>

            <div id="exTab2" class="container">	
                <ul class="nav nav-tabs">
			        <li class="active">
                        <a  href="#1" data-toggle="tab">Tag trends  </a>
			        </li>
			        <li>
                        <a href="#2" data-toggle="tab">Device trends  </a>
			        </li>
		        </ul>

			    <div class="tab-content ">
			        <div class="tab-pane active" id="1">
                        <figure class="highcharts-figure">
                            <div id="pie"></div>
                        </figure>
				    </div>
				    <div class="tab-pane" id="2">
                        <figure class="highcharts-figure">
                            <div id="donut"></div>
                        </figure>
				    </div>
			    </div>
            </div>

            <div id="tooltip" class="tooltip">
                <div class="tooltip-range" id="range"></div>
                <div class="tooltip-examples" id="examples"></div>
                <div class="tooltip-value">
                    ...of <span id="count"></span> tasks
                </div>
                <div class="tooltip-bar-value">
                    <b><span id="tooltip-bar-value"></span>%</b>
                    of the work was done by developers
                </div>
                <div class="tooltip-bar">
                    <div class="tooltip-bar-fill" id="tooltip-bar-fill"></div>
                </div>
            </div>
        </div>


        <script>

            /* JavaScript goes here. */
            // globals used in graph
            var running = false;
            var timer;
            //var validTimeSteps = ["2007_12", "2008_01", "2008_02", "2008_03", "2008_04", "2008_05", "2008_06", "2008_07", "2008_08", "2008_09", "2008_10", "2008_11", "2008_12"]
            var validTimeSteps = ["2001_1", "2001_2", "2001_3", "2001_4", "2002_1", "2002_2", "2002_3", "2002_4", "2003_1", "2003_2", "2003_3", "2003_4", "2004_1", "2004_2", "2004_3", "2004_4", "2005_1", "2005_2", "2005_3", "2005_4", "2006_1", "2006_2", "2006_3", "2006_4", "2007_1", "2007_2", "2007_3", "2007_4", "2008_1", "2008_2", "2008_3", "2008_4", "2009_1", "2009_2"]

            var mapdata = {};
            var popular_tags = true;

            var width = 800, height = 600;
            var current_position;

            $(document).ready(function() {
                $('a#button').click(function() {
                    $(this).toggleClass("down");
                    popular_tags = !popular_tags;
                });
            });

            // define the tooltip 
            // var tool_tip = d3.tip()
            //     .attr("class", "d3-tip")
            //     // if the mouse position is greater than 650 (~ Kentucky/Missouri), offset tooltip to the left instead of the right
            //     .offset(function() {if(current_position[0] > 650) {
  	        //             return [-20,-120] } 
  	        //         else { return [20,120]}
            //     })
            //     // input the title, and include the div
            //     .html(
  	        //         "<p>Opioid-involved deaths over time in</p><div id='tipDiv'></div>"
            //     );
            var tip = d3.tip()
			    .attr("class", "d3-tip")
			    .offset([350, 100])
    	        .html(function(d)
			    {
                    // var x = +d.properties.value;
                    // x = x.toPrecision(2);
                    return "Country: " + d.properties.name + "<br>"
                        + "Most Popular Tag:" + d.properties.most_popular_tag + "<br>"
                        + "No. of users:" + d.properties.user_freq + "<br><br>"
                        + "<div id='tipDiv'></div<br>";
                });
            
            
            
            active = d3.select(null);
            var zoom = d3.zoom()            
            // no longer in d3 v4 - zoom initialises with zoomIdentity, so it's already at origin
            // .translate([0, 0]) 
            // .scale(1) 
            .scaleExtent([1, 8])
            .on("zoom", zoomed);
            var minDocCount = 0, quantiles = {};
            // projection definitions
            var projection = d3.geoMercator()
                .scale((width + 1) / 2 / Math.PI)
                .translate([width/2, height/2])
                .precision(.1);
            var path = d3.geoPath().projection(projection);
            // SVG related definitions
            var svg = d3.select("#map-holder").append("svg")
                        .attr("height", height)    // set the height
                        .attr("width", width);    // set the width
            
            svg.call(tip);
            
            svg.append("rect")
                .attr("class", "background")
                .attr("width", width)
                .attr("height", height)
                .on("click", reset);
            var g = svg.append("g");

            svg
                .call(zoom); // delete this line to disable free zooming

            var filter = svg.append('defs')
                .append('filter')
                .attr("height", 1)    // set the height
                .attr("width", 1)    // set the width
                .attr("x", 0)    
                .attr("y", 0)    
                .attr("id", 'gray-background')
            filter.append('feFlood')
                .attr('flood-color', '#f2f2f2')
                .attr('result', 'COLOR');
            filter.append('feMorphology')
                .attr('operator', 'dilate')
                .attr('radius', '.9')
                .attr('in', 'SourceAlpha')
                .attr('result', 'MORPHED');
            filter.append('feComposite')
                .attr('in', 'SourceGraphic')
                .attr('in2', 'MORPHED')
                .attr('result', 'COMP1');
            filter.append('feComposite')
                .attr('in', 'COMP1')
                .attr('in2', 'COLOR');

            


            /// getting json input from flask
            var countries_mock_data = {{countries_mock_data| tojson}}
            var world_countries = {{ world_countries | tojson}};
            /*
            /// ALL data from csv
            var csv_data_all = {{ csv_data | tojson}};

            /// Object for filtering
            var filterObjectMap = 
            {
                "date":"2008_11"
            }

            console.log(csv_data_all)
            filtered_data = _.filter(csv_data_all, filterObjectMap)
            console.log("filtered")
            console.log(filtered_data)
            */

            var allTags = []
            for(catInd in Object.keys(countries_mock_data.allCategories))

            var myColor = d3.scaleOrdinal().domain(countries_mock_data.allCategories)
                .range(d3.schemeSet3);

            //console.log(countries_mock_data)
            current_date_ind = 0
            current_date = validTimeSteps[current_date_ind]
            current_year_data = countries_mock_data.timesteps[current_date]
            country_in_focus_1 = "USA"
            //console.log(current_year_data)
            

            draw(world_countries ,current_year_data)

            function get_most_popular(obj){
                maxTag = -10000
                tag = ""
                for(ind in Object.keys(obj)){
                    key = Object.keys(obj)[ind]
                    if(obj[key]>maxTag){
                        maxTag = obj[key]
                        tag = key
                    }
                }
                return tag
            }

            function draw(world, data) {

                    for(var idx=0; idx < data.country_data.buckets.length; idx++) {
                        var cCode = data.country_data.buckets[idx].key.toUpperCase();
                        var most_popular_tag = data.country_data.buckets[idx].most_popular_category;
                        var most_popular_taglist = data.country_data.buckets[idx].categories_sum;
                        var user_freq = data.country_data.buckets[idx].user_freq;
                        var device_data = data.country_data.buckets[idx].device_data;
                        for(var wdx=0; wdx < world.objects.subunits.geometries.length; wdx++) {
                            var cName = world.objects.subunits.geometries[wdx].id.toUpperCase();
                            if (cCode === cName) {
                                //TODO is it really necessary to take the data for charts from the map data?? 
                                // can also get it from an external json file using the country id... 
                                world.objects.subunits.geometries[wdx].properties.most_popular_tag = most_popular_tag;
                                world.objects.subunits.geometries[wdx].properties.most_popular_5 = most_popular_taglist;
                                world.objects.subunits.geometries[wdx].properties.user_freq = user_freq;
                                world.objects.subunits.geometries[wdx].properties.device_data = device_data;
                            }
                        }
                    }
                    var subunits = topojson.feature(world, world.objects.subunits);
                    subunits.features = subunits.features.filter(function(d){ return d.id !== "ATA"; });
                    minDocCount = d3.min(subunits.features, function(d){ return d.properties.most_popular_tag; });
                    var most_popular_tag = subunits.features.map(function(d){ return d.properties.most_popular_tag; });
                    most_popular_tag = most_popular_tag.filter(function(d){ return d; }).sort(d3.ascending);
                    //console.log('most_popular_tag',most_popular_tag);
                    quantiles['0.95'] = d3.quantile(most_popular_tag, '0.95');
                    var countries = g.selectAll('path.subunit')
                        .data(subunits.features).enter();

                    countries.insert('path', '.graticule')
                        .attr('class', function(d) { return 'subunit ca'+d.id; })
                        .attr('d', path)
                        .on('mouseover',mouseoverLegend).on('mouseout',mouseoutLegend)
                        .on('mouseenter',mouseenterFunction).on('mouseleave',mouseleaveFunction)
                        .on("click", clicked);
                    
                    countries.append('svg:text')
                        .attr('class', function(d){ return 'subunit-label la'+d.id+d.properties.name.replace(/[ \.#']+/g,''); })
                        //.attr('transform', function(d) { return 'translate('+ path.centroid(d) +')'; })
                        .attr('transform', function(d) { return 'translate('+(width-(5*d.properties.name.length))+','+(15)+')'; })
                        .attr('dy', '.35em')
                        .attr('filter', 'url(#gray-background)')
                        .append('svg:tspan')
                        .attr('x', 0)
                        .attr('dy', 0)
                        .text(function(d) { return d.properties.name; })
                        .append('svg:tspan')
                        .attr('x', 0)
                        .attr('dy', 20)
                        .text(function(d) { return d.properties.most_popular_tag ? d.properties.most_popular_tag : ''; });
                    
                    var toColor = g.selectAll(".subunit")

                    toColor            
                    .transition()
                    .duration(750)
                    .style("fill", heatColor)


                    // var upDatedData = {};
                    //     upDatedData.properties = {};
                    //     upDatedData.properties.device_data = {};
                    //     upDatedData.properties.most_popular_5 = {};
                    //     //TODO Have to change this logic, how to find out the key when sliding inside the countries..
                    //     // For now only world changes..
                    //     upDatedData.properties.device_data = data.country_data.buckets[0].device_data;
                    //     upDatedData.properties.most_popular_5 = data.country_data.buckets[0].most_popular_5;
                    //     refreshDonutDiv(upDatedData);
                    //     refreshPieDiv(upDatedData);
                    // console.log("data->",data)
             
            }

            function mouseenterFunction(datum, index) {
                tip.show(datum);
                if (popular_tags)
                    refreshPie1(datum);
                else
                    refreshDonut1(datum);
            }

            function mouseleaveFunction(datum, index) {
                tip.hide();
            }
            

            function mouseoverLegend(datum, index) {
                var point = d3.mouse(this);
                current_position = point;
                d3.selectAll('.subunit-label.la'+datum.id+datum.properties.name.replace(/[ \.#']+/g,''))
                    .style('display', 'inline-block')
              
                d3.selectAll('.subunit.ca'+datum.id)
                    .style('fill', '#cc6699');


                //tooltip.style("opacity", 1);
                //tooltip.style("transform", `translate(50px,50px)`)
                // tip.show(datum);
                // refreshDonut1(datum);
                // //TODO Need to add null checks..
                // var tip_country = datum.properties.name;
                // var tip_most_popular_tag = datum.properties.most_popular_tag;
                // var tip_user_freq = datum.properties.user_freq;


                // var tipSVG = d3.select("#tipDiv")
      			// 	.append("svg")
      			// 	.attr("width", 150)
                //     .attr("height", 20);

                
                      
            
                
            } 

            function mouseoutLegend(datum, index) {
                d3.selectAll('.subunit-label.la'+datum.id+datum.properties.name.replace(/[ \.#']+/g,''))
                    .style('display', 'none');
                d3.selectAll('.subunit.ca'+datum.id)
                    .style('fill', heatColor(datum));

                //tooltip.style("opacity", 0)
                //tip.hide();
            }


            function heatColor(d) {
                return myColor(d.properties.most_popular_tag);
            }
            /////////////////////////////////////////////////////// Zooming functions //////////////////////////////////////////////////////
            function clicked(d) {
                if (active.node() === this) return reset();
                active.classed("active", false);
                active = d3.select(this).classed("active", true);

                var bounds = path.bounds(d),
                    dx = bounds[1][0] - bounds[0][0],
                    dy = bounds[1][1] - bounds[0][1],
                    x = (bounds[0][0] + bounds[1][0]) / 2,
                    y = (bounds[0][1] + bounds[1][1]) / 2,
                    scale = Math.max(1, Math.min(8, 0.9 / Math.max(dx / width, dy / height))),
                    translate = [width / 2 - scale * x, height / 2 - scale * y];
                svg.transition()
                    .duration(2000)
                    // .call(zoom.translate(translate).scale(scale).event); // not in d3 v4
                    .call( zoom.transform, d3.zoomIdentity.translate(translate[0],translate[1]).scale(scale) ); // updated for d3 v4
                
                refreshDonutDiv(d);
                refreshPieDiv(d);
                console.log("refreshing stream graph for country")
                country_in_focus_1 = d.id
                console.log(country_in_focus_1)
                refreshStreamGraph(country_in_focus_1, svg_stream, validTimeSteps, width_stream, height_stream, "category")
                refreshStreamGraph(country_in_focus_1, svg_focused_stream, getFocusedValidSteps(), width_stream_focused, height_stream_focused, "category")
                

            }

            function reset() {
                active.classed("active", false);
                active = d3.select(null);

                svg.transition()
                    .duration(750)
                    // .call( zoom.transform, d3.zoomIdentity.translate(0, 0).scale(1) ); // not in d3 v4
                    .call( zoom.transform, d3.zoomIdentity ); // updated for d3 v4
                country_in_focus_1 = "USA"
                refreshStreamGraph(country_in_focus_1, svg_stream, validTimeSteps, width_stream, height_stream, "category")
                refreshStreamGraph(country_in_focus_1, svg_focused_stream, getFocusedValidSteps(), width_stream_focused, height_stream_focused, "category")
                //TODO have to add reset functionality for pie and donut..

            }

            function zoomed() {
                g.style("stroke-width", 1.5 / d3.event.transform.k + "px");
                // g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")"); // not in d3 v4
                g.attr("transform", d3.event.transform); // updated for d3 v4
            }

            // If the drag behavior prevents the default click,
            // also stop propagation so we don’t click-to-zoom.
            function stopped() {
                if (d3.event.defaultPrevented) d3.event.stopPropagation();
            }

            ///////////////////////////////////////////////// Play button functions /////////////////////////////////////////////////////////////////////
            // heat point test

            // add circles to svg
            /*
            g.selectAll("circle")
                .data(testpoints).enter()
                .append("circle")
                .attr("cx", function (d) { console.log(projection(d)); return projection(d)[0]; })
                .attr("cy", function (d) { return projection(d)[1]; })
                .attr("r", "5px")
                .attr("fill", "grey")
                .attr("fill-opacity","0.2")
            */
            
            
            $("#play").on("click", function() {
		
            var duration = 800,
                maxstep = validTimeSteps[validTimeSteps.length],
                minstep = validTimeSteps[0];
            
            if (running == true) {
            
                $("#play").html("Play");
                running = false;
                clearInterval(timer);
                
            } 
 
            else if (running == false) {
            
                $("#play").html("Pause");
                
                
                timer = setInterval( function(){
                        if (current_date != maxstep){
                            current_date_ind++;
                            current_date = validTimeSteps[current_date_ind]
                            current_year_data = countries_mock_data.timesteps[current_date]
                            console.log("updated date")
                            console.log(current_date)
                            draw(world_countries,current_year_data);
                            updateStreamSlider()
                        }else{
                            $("#play").html("Play");
                            running = false;
                            clearInterval(timer);
                        }
            
                    
                }, duration);
                running = true;
                
                
            }

        });
        ////////////////////////////////// StreamGraph ///////////////////////////////////////////////////////////////////////////////////////////////////
            var allCategoriesEmpyty = {
            }
            for(catInd in countries_mock_data.allCategories){
                allCategoriesEmpyty[countries_mock_data.allCategories[catInd]] = 0
            }
            var allTagsEmpyty = {}
            for(catInd in countries_mock_data.allCategories){
                catTags = Object.keys(countries_mock_data.allCategories[catInd])
                for(catTagInd in catTags){
                    allTagsEmpyty[catTags[catTagInd]] = 0
                }
            }
            function getStreamData(country_key, timeSteps, level){
                console.log("level is")
                console.log(level)
                d = []
                keys = new Set()
                maxYear = 0
                for(var timeStepInd in timeSteps){
                    year_count = 0
                    var timeStep = timeSteps[timeStepInd]
                    var country_bucket = countries_mock_data.timesteps[timeStep].country_data.buckets.find( function (e){
                        return e.key == country_key
                    })
                    emptyObj = level == "tag"?allTagsEmpyty:allCategoriesEmpyty

                    var year_data = {"time_step_graph" : timeStep}
                    Object.assign(year_data, emptyObj);
                    if(country_bucket){
            
                        //var tags = Object.assign({}, country_bucket.most_popular_5, country_bucket.rest_tags)
                        var tags = country_bucket.categories_sum
                        tag_list = Object.keys(tags)

                        for(var tagInd in tag_list){
                            tag = tag_list[tagInd]
                            year_count += tags[tag]
                            if(level == "category"){
                                year_data[tag] = tags[tag]
                                keys.add(tag)
                            }else{
                                catTagList = Object.keys(country_bucket.categories[tag])
                                for(catInd in catTagList){
                                    year_data[catTagList[catInd]] = country_bucket.categories[tag][catTagList[catInd]]
                                    keys.add(catTagList[catInd])
                                }
                            }
                            
                
                        }
                    }
                    d.push(year_data)
                    if (year_count>maxYear){
                        maxYear = year_count
                    }
          

                }
                keys = Array.from(keys)
                console.log("returning year data")
                console.log(keys)

                return [d, maxYear, Array.from(keys)]
            }

    var margin = {top: 150, right: 20, bottom: 20, left: 20},
    width_stream = 800
    height_stream = 100

    


    var svg_stream = d3.select("#my_dataviz")
    .append("svg")
        .attr("width", width_stream + margin.left + margin.right)
        .attr("height", height_stream + margin.top + margin.bottom)
        .attr("id", "streamContainer")
    .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");




            /// adding variables and rect for the focused stream graph
    var focusStremTartgetBottom = -150
    var focusStremTartgetLeft = 0
    var focusStremTartgetRight = width_stream  - 500
    var focusStremTartgetTop =  -30
    
    d3.select("#streamContainer")
        .append("g")
        .attr('id', "g-focus")
        .attr("transform",
            "translate(" + 38 + "," + 0 + ")");

    var svg_focused_stream = d3.selectAll("#g-focus")
    
    svg_stream
            .append("rect")
            .attr('id', "rect-focus")
            .style("fill", "black")
            .attr("fill-opacity","0.1")
            .attr("rx", 3)
            .attr("ry", 3)
            .style("stroke", "black")
            .attr("width", focusStremTartgetRight - focusStremTartgetLeft)
            .attr("height", focusStremTartgetTop - focusStremTartgetBottom)
            .attr("x", focusStremTartgetLeft)
            .attr("y", focusStremTartgetBottom)
    

    var margin_focused = {top: 0, right: 0, bottom: 0, left: 0},
        width_stream_focused = 300
        height_stream_focused = 130



    function getX(validTimeSteps_x, width_stream_x){
        var x = d3.scaleOrdinal()
        var stramChartXRange = []
        var rangeStep = width_stream_x / validTimeSteps_x.length
        step = 0
        for(t in validTimeSteps_x){
            stramChartXRange.push(step)
            step += rangeStep
        }

        // Add X axis
        x
            .domain(validTimeSteps_x)
            .range(stramChartXRange);
        return x
    }

    var x_main_stream = getX(validTimeSteps, width_stream)

    function getY(maxRange, height_stream_y){
        var y = d3.scaleLinear()
        y
            .domain([-maxRange, maxRange])
            .range([ height_stream_y, 0 ]);
        return y

    }
    var rectAdd = 10
    var rectWidthRightSteps = 2
    var rectWidthLeftSteps = 2
    var rectWidthRight =(width_stream / validTimeSteps.length) * rectWidthRightSteps
    var rectWidthLeft = (width_stream / validTimeSteps.length) * rectWidthLeftSteps
    var rectHeight = height_stream - 2/rectAdd


    let drag = d3.drag()
        .on('drag', dragged)
    let dragLeft = d3.drag()
        .on('drag', draggedLeft) 
    let dragRight = d3.drag()
        .on('drag', draggedRight)

    drawStreamGraph(country_in_focus_1, svg_stream, validTimeSteps, width_stream, height_stream, "category")
    drawStreamGraph(country_in_focus_1, svg_focused_stream, getFocusedValidSteps(), width_stream_focused, height_stream_focused, "category")
    updateStreamSlider()

    function getFocusedValidSteps(){
        var start_index = Math.max(current_date_ind - rectWidthLeftSteps, 0)
        var end_index = Math.min(current_date_ind + rectWidthRightSteps, validTimeSteps.length)
        timesteps = []
        for(start_index; start_index<=end_index; start_index++){
            timesteps.push(validTimeSteps[start_index])
        }
        return timesteps
    }

    function invertX(xpos){
        var ypos = x_main_stream.domain()[d3.bisect(x_main_stream.range(), xpos) - 1];
        return ypos
    }

    function dragged(d) {
        current_date = invertX(d3.mouse(this)[0]-300)
        current_date_ind = validTimeSteps.findIndex((element) => element == current_date)
        updateStreamSlider()
    }

    function draggedLeft(d) {
        current_time_pos = x_main_stream(current_date)
        current_mouse_pos = d3.mouse(this)[0] - 300
        time_step_size = (width_stream / validTimeSteps.length)
        if(current_time_pos - current_mouse_pos > time_step_size * (rectWidthLeftSteps+1)){
            rectWidthLeftSteps = Math.min(rectWidthLeftSteps+1, current_date_ind )

            rectWidthLeft = time_step_size * rectWidthLeftSteps
            updateStreamSlider()
        }else if(current_time_pos - current_mouse_pos < time_step_size * (rectWidthLeftSteps-1)){
            rectWidthLeftSteps = Math.max(1, rectWidthLeftSteps-1)
            rectWidthLeft = time_step_size * rectWidthLeftSteps
            updateStreamSlider()
        }
    }

    function draggedRight(d) {
        current_time_pos = x_main_stream(current_date)
        current_mouse_pos = d3.mouse(this)[0] - 300
        time_step_size = (width_stream / validTimeSteps.length)
        if(current_mouse_pos - current_time_pos > time_step_size * (rectWidthRightSteps+1)){
            rectWidthRightSteps = Math.min(rectWidthRightSteps+1, validTimeSteps.length - current_date_ind - 1)
            rectWidthRight = time_step_size * rectWidthRightSteps
            updateStreamSlider()
        }else if(current_mouse_pos - current_time_pos < time_step_size * (rectWidthRightSteps-1)){
            rectWidthRightSteps = Math.max(1, rectWidthRightSteps-1)
            rectWidthRight = time_step_size * rectWidthRightSteps
            updateStreamSlider()
        }
    }

    /// define area and axes for the main stream graph


    function valueAccessor(d, key) {
            return d.values[key];
        }

    function drawStreamGraph(country_key, svg_stream, validTimeSteps_graph, width_stream_graph, height_stream_graph, level){
// append the svg object to the body of the page

        //svg_stream.selectAll("path").remove()


        // Parse the Data
        [data, yRange, keys] = getStreamData(country_key, validTimeSteps_graph, level)

        x = getX(validTimeSteps_graph, width_stream_graph)
        y = getY(yRange, height_stream_graph)

        svg_stream.append("g")
            .attr("transform", "translate(0," + height_stream_graph*0.8 + ")")
            .call(d3.axisBottom(x).tickSize(-height_stream_graph*.7).tickValues(validTimeSteps_graph))
            .select(".domain").remove()
        // Customization
        svg_stream.selectAll(".tick line").attr("stroke", "#b8b8b8")

        // Add X axis label:
        svg_stream.append("text")
            .attr("text-anchor", "end")
            .attr("x", width_stream_graph)
            .attr("y", height_stream_graph-30 )
            .text("Time (date)");

        // Add Y axis

        //stack the data?
        var stackedData = d3.stack()
            .offset(d3.stackOffsetSilhouette)
            .keys(keys)
            (data)

        // create a tooltip
        var Tooltip = svg_stream
            .append("text")
            .attr("id", "stream-tooltip")
            .attr("x", 0)
            .attr("y", 20)
            .style("opacity", 0)
            .style("font-size", 17)

        // Three function that change the tooltip when user hover / move / leave a cell
        var mouseover = function(d) {
            Tooltip.style("opacity", 1)
            d3.selectAll(".myArea").style("opacity", .2)
            d3.select(this)
            .style("stroke", "black")
            .style("opacity", 1)
        }
        var mousemove = function(d,i) {
            grp = d.key
            Tooltip.text(grp)
 
        }
        var mouseleave = function(d) {
            Tooltip.style("opacity", 0)
            d3.selectAll(".myArea").style("opacity", 1).style("stroke", "none")
        }

        var clickedStream = function(d){
            current_date = invertX(d3.mouse(this)[0])
            current_date_ind = validTimeSteps_graph.findIndex((element) => element == current_date)
            updateStreamSlider()
        }
        var logged = false
        // Area generator
        var area = d3.area()
            .x(function(d) { if(!logged){console.log("data point date is");console.log(d); logged = true}return x(d.data.time_step_graph); })
            .y0(function(d) { return y(d[0]); })
            .y1(function(d) { return y(d[1]); })
        

        // Show the areas
        svg_stream
            .selectAll("mylayers")
            .data(stackedData)
            .enter()

            .append("path")
            .attr("class", "myArea")
            .style("fill", function(d) { return myColor(d.key); })
            .attr("d", area)
            .on("mouseover", mouseover)
            .on("mousemove", mousemove)
            .on("mouseleave", mouseleave)
            .on("click", clickedStream);


    }

    function refreshStreamGraph(country_key, svg_stream, validTimeSteps_graph, width_stream_graph, height_stream_graph, level){
        svg_stream.selectAll(".tick").remove()

        // Parse the Data
        [data, yRange, keys] = getStreamData(country_key, validTimeSteps_graph, level)



        x = getX(validTimeSteps_graph, width_stream_graph)
        y = getY(yRange, height_stream_graph)
        // List of groups = header of the csv files
        
        svg_stream.append("g")
            .attr("transform", "translate(0," + height_stream_graph*0.8 + ")")
            .call(d3.axisBottom(x).tickSize(-height_stream_graph*.7).tickValues(validTimeSteps_graph))
            .select(".domain").remove()
        // Customization
        svg_stream.selectAll(".tick line").attr("stroke", "#b8b8b8")

        // Add X axis label:
        svg_stream.append("text")
            .attr("text-anchor", "end")
            .attr("x", width_stream_graph)
            .attr("y", height_stream_graph-30 )
            .text("Time (date)");

        //stack the data?
        var stackedData = d3.stack()
            .offset(d3.stackOffsetSilhouette)
            .keys(keys)
            (data)




        // Area generator
        var area = d3.area()
            .x(function(d) { return x(d.data.time_step_graph); })
            .y0(function(d) { return y(d[0]); })
            .y1(function(d) { return y(d[1]); })

        console.log(stackedData)
        // create a tooltip
        var Tooltip = svg_stream
            .append("text")
            .attr("x", 0)
            .attr("y", 20)
            .style("opacity", 0)
            .style("font-size", 17)
        
        var mouseover = function(d) {
            Tooltip.style("opacity", 1)
            d3.selectAll(".myArea").style("opacity", .2)
            d3.select(this)
            .style("stroke", "black")
            .style("opacity", 1)
     
        }
        var mousemove = function(d,i) {
            grp = d.key
            Tooltip.text(grp)
 
        }
        var mouseleave = function(d) {
            Tooltip.style("opacity", 0)
            d3.selectAll(".myArea").style("opacity", 1).style("stroke", "none")
        }

        var clickedStream = function(d){
            current_date = invertX(d3.mouse(this)[0])
            current_date_ind = validTimeSteps_graph.findIndex((element) => element == current_date)
            updateStreamSlider()
        }


        var country_paths = svg_stream.selectAll("path")
            .data(stackedData)


        console.log(country_paths)
        country_paths
            .on("mouseover", mouseover)
            .on("mousemove", mousemove)
            .on("mouseleave", mouseleave)
            .on("click", clickedStream);

        country_paths
            .transition()
            .duration(750)
            .style("fill", function(d, i) { return myColor(d.key); })
            .attr("d", area)
        console.log("done refreshing")

    }



    function updateStreamSlider(){
        console.log("current date is")
        console.log(current_date)
        console.log("curretn date in range")
        console.log(x_main_stream(current_date))
        var focusRectCornerTop = 0-rectAdd
        var focusRectCornerRight = x_main_stream(current_date) + (rectWidthRight)
        var focusRectCornerLeft = x_main_stream(current_date) - (rectWidthLeft)
        d3.select("#sliderG").remove()


        var sliderG = d3.select("#streamContainer").append("g").attr("id", "sliderG")
        .attr("transform",
            "translate(" + 20 + "," + 150 + ")");

        sliderG
            .append("line")
            .attr('id', "line-comparison")
            .attr('stroke', 'black')
            .attr('stroke-width', 2)
            .attr('x1', x_main_stream(current_date))
            .attr('y1', 0-rectAdd)
            .attr('x2', x_main_stream(current_date))
            .attr('y2', height_stream - rectAdd)
            .call(drag);
        sliderG
            .append("rect")
            .attr('id', "rect-grab")
            .style("fill", "black")
            .attr("fill-opacity","0.05")
            .attr("rx", 3)
            .attr("ry", 3)
            .style("stroke", "black")
            .attr("width", focusRectCornerRight - focusRectCornerLeft)
            .attr("height", rectHeight)
            .attr("x", focusRectCornerLeft)
            .attr("y", 0-rectAdd)
            .call(drag);
        sliderG
            .append("line")
            .attr('id', "line-focus")
            .attr('stroke', 'grey')
            .attr('stroke-width', 2)
            .style("stroke-dasharray", ("3, 3"))
            .attr('x1', focusRectCornerLeft)
            .attr('y1', focusRectCornerTop)
            .attr('x2', focusStremTartgetLeft)
            .attr('y2', focusStremTartgetTop)
            .call(drag);
        sliderG
            .append("line")
            .attr('id', "line-focus")
            .attr('stroke', 'grey')
            .attr('stroke-width', 2)
            .style("stroke-dasharray", ("3, 3"))
            .attr('x1', focusRectCornerRight)
            .attr('y1', focusRectCornerTop)
            .attr('x2', focusStremTartgetRight)
            .attr('y2', focusStremTartgetTop)
            .call(drag);

        /// add draggable rect to adjust size of focus window
        sliderG
            .append("rect")
            .attr('id', "focus-grab")
            .style("fill", "black")
            .attr("rx", 3)
            .attr("ry", 3)
            .style("stroke", "black")
            .attr("width",10)
            .attr("height", 10)
            .attr("x", focusRectCornerLeft-5)
            .attr("y", rectHeight-15)
            .call(dragLeft);
        sliderG
            .append("rect")
            .attr('id', "focus-grab")
            .style("fill", "black")
            .attr("rx", 3)
            .attr("ry", 3)
            .style("stroke", "black")
            .attr("width", 10)
            .attr("height", 10)
            .attr("x", focusRectCornerRight-5)
            .attr("y", rectHeight-15)
            .call(dragRight);

        //calling update on map
        current_year_data = countries_mock_data.timesteps[current_date]
        draw(world_countries ,current_year_data)
        
        refreshStreamGraph(country_in_focus_1, svg_focused_stream, getFocusedValidSteps(), width_stream_focused, height_stream_focused, "category")
            
    }




    //Donut chart 1 ...

function convertToDonut1(datum) {
 var fdata = {};
 var categories = [];
 var data = [];
 var device_data = datum.properties.device_data;
 for (var key in device_data) {
 	categories.push(key);
 }
 var colors = Highcharts.getOptions().colors;

  var typeData = [];
  var deviceData = [];
  var i;
  var j;
  var dataLen = categories.length;
  var drillDataLen;
  var brightness;
 for (i = 0; i < dataLen; i += 1) {

    // add type data
    typeData.push({
        name: categories[i],
        y: device_data[categories[i]].total,  //data[i].y,
        color: colors[i] //data[i].color
    });

    // add device data 
    drillDataLen = device_data[categories[i]].length - 1 //data[i].drilldown.data.length;
    if (categories[i] == "others") {
    	drillDataLen += 1;
    }
    for (var keys2 in device_data[categories[i]]) {
    	if (keys2 != 'total' || categories[i] == "others"){
      	        brightness = 0.2 - (j / drillDataLen) / 5;
        deviceData.push({
            name: keys2, //device_data[categories[i]][j],
            y: device_data[categories[i]][keys2], //data[i].drilldown.data[j],
            color: Highcharts.color(colors[i]).brighten(brightness).get()
        });
      }
    }
}
var retData = {};
retData.typeData = typeData;
retData.deviceData = deviceData;
return retData;
}


function refreshDonut1(dat){

    console.log(dat);
var donut1data = convertToDonut1(dat);
console.log(donut1data);


// Create the chart
Highcharts.chart('tipDiv', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Device usage trend'
    },
    subtitle: {
        text: 'Source: Flickr dataset'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        pie: {
            shadow: false,
            center: ['50%', '50%']
        }
    },
    tooltip: {
        valueSuffix: '%'
    },
    series: [{
        name: 'Device',
        data: donut1data.typeData,
        size: '60%',
        dataLabels: {
            formatter: function () {
                return this.y > 5 ? this.point.name : null;
            },
            color: '#ffffff',
            distance: -30
        }
    }, {
        name: 'Models',
        data: donut1data.deviceData,
        size: '80%',
        innerSize: '60%',
        dataLabels: {
            formatter: function () {
                // display only if larger than 1
                return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
                    this.y + '' : null;
            }
        },
        id: 'versions'
    }],
    responsive: {
        rules: [{
            condition: {
                maxWidth: 400
            },
            chartOptions: {
                series: [{
                }, {
                    id: 'versions',
                    dataLabels: {
                        enabled: false
                    }
                }]
            }
        }]
    }
});


}


function refreshDonutDiv(dat){

console.log(dat);
var donut1data = convertToDonut1(dat);
console.log(donut1data);


// Create the chart
Highcharts.chart('donut', {
chart: {
    type: 'pie'
},
title: {
    text: 'Device usage trend'
},
subtitle: {
    text: 'Source: Flickr dataset'
},
credits: {
    enabled: false
},
plotOptions: {
    pie: {
        shadow: false,
        center: ['50%', '50%']
    }
},
tooltip: {
    valueSuffix: '%'
},
series: [{
    name: 'Device',
    data: donut1data.typeData,
    size: '60%',
    dataLabels: {
        formatter: function () {
            return this.y > 5 ? this.point.name : null;
        },
        color: '#ffffff',
        distance: -30
    }
}, {
    name: 'Models',
    data: donut1data.deviceData,
    size: '80%',
    innerSize: '60%',
    dataLabels: {
        formatter: function () {
            // display only if larger than 1
            return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
                this.y + '' : null;
        }
    },
    id: 'versions'
}],
responsive: {
    rules: [{
        condition: {
            maxWidth: 400
        },
        chartOptions: {
            series: [{
            }, {
                id: 'versions',
                dataLabels: {
                    enabled: false
                }
            }]
        }
    }]
}
});


}

function refreshPie1(dat) {
    var newDat = [];
    var colors = [];
var chkData = dat.properties.most_popular_5;
for (var key in chkData) {
	var obj = {};
  obj.name = key;
  obj.y = chkData[key];
  newDat.push(obj);
  console.log("color: ",myColor(key));
  colors.push(myColor(key));
}

Highcharts.chart('tipDiv', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Top 5 tag trends'
    },
    credits: {
        enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Flickr Tags',
        colorByPoint: true,
        colors: colors,
        data: newDat
    }]
});
}

function refreshPieDiv(dat) {
    var newDat = [];
    var colors = [];
var chkData = dat.properties.most_popular_5;
for (var key in chkData) {
	var obj = {};
  obj.name = key;
  obj.y = chkData[key];
  newDat.push(obj);
  console.log("color: ",myColor(key));
  colors.push(myColor(key));
}

Highcharts.chart('pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Top 5 tag trends'
    },
    credits: {
        enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Flickr Tags',
        colorByPoint: true,
        colors: colors,
        data: newDat
    }]
});
}

    </script>

        
    </body>
{% endblock %}
